.course {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  &-sider {
    width: 28vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #e7e9eb;
    height: 92vh;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  &-sider::-webkit-scrollbar {
    width: 3px;
  }
  &-sider::-webkit-scrollbar-thumb {
    background: #888;
  }

  &-content {
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-left: 28vh;
  }
  &-content::-webkit-scrollbar {
    width: 3px;
  }
  &-content::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.content-page {
  min-height: 60vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
